<h2>{{title | uppercase}}</h2>

<!-- 
 {{}} interpolation
 () - event binding
 [] - property binding
-->

<input [value]="counter * 2" />

<p>Counter: {{counter}}</p>

<p>Counter * 3: {{counter * 3}}</p>

<div (click)="parentClick()">
    <button (click)='increment($event)'>
        +1
    </button>
</div>

<button (click)='counter = counter - 1'>
    -1
</button>

<span>Price</span>
<!-- two way binding == input + output binding
 [()] - sugar
-->

<input [(ngModel)]="price" type="number" />

<p> Price is {{price | currency:'INR'}} </p>

<p> Option 2 two way binding</p>

<!-- two way binding, output should have 
     input name + "Change" -->

<input [ngModel]="price" 
       (ngModelChange)="price = $event"
       type="number"

/>

<p> Home Likes {{homeLikes}}</p>
<!-- 
<app-like [likes]="homeLikes"
          (likesChange)="homeLikes = $event"
>
    
</app-like> -->

<app-like [(likes)]="homeLikes">
</app-like>

<p> Date {{today | date:'ddMMM:yyyy' | uppercase}}</p>

<p> Power 4^2 = {{ 4 | power:2 }}</p>

<p> Power 3 = {{ 3 | power  }}</p>

<p> Power counter^2 = {{ counter | power:2  }}</p>

<p> Power 2^counter = {{ 2 | power:counter  }}</p>