<h2>Product Edit - {{product.name}} </h2>

<button (click)="gotoList()">
  List
</button>

<form   (ngSubmit)="saveProduct()"
        #productForm="ngForm"


>

<p *ngIf="productForm.invalid">
  Invalid form data
</p>

<p *ngIf="productForm.dirty">
     form data changed
</p>

 <label>Name</label>
 <input name="name"
        [(ngModel)]="product.name" 
        type="text"

      required
      minlength="3"

      #productName="ngModel"

  />

  <p *ngIf="productName.invalid">
     Invalid Name
  </p>

  <label>Price</label>
  <input name="price"
         [(ngModel)]="product.price" 
         type="number"
 
   />


  <label>Year</label>
  <input name="year"
         [(ngModel)]="product.year" 
         type="number"
 
   />


  <label>Weight</label>
  <input name="weight"
         [(ngModel)]="product.weight" 
         type="string"
   />

   <label>Brand</label>
   <select name="brandId"
           [(ngModel)]="product.brandId">
       
      <option [value]="brand.id"
              *ngFor="let brand of brands"
      >
          {{brand.name}}
      </option>
  
   </select>

   <button type="submit">
     Save
   </button>


</form>